*{
    background-color: black;
}
.container-fluid{
    color: white;
}
.movie-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 35px;
}
.navbar{
}
.card{
    width: 180px;
    height: 600px;
    margin: 1em;
}
.movie-pic{
    margin-top: 10px;
}
.movie-title{
    text-align: center;
}
.movie-text{
    text-align: center;
}
.movie-button{
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 10%;
    background-color: #f5c519;
}
.movie-info-container{
}
.addMovie{
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.newMovieInput{
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newMovieButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
